<html>
  <head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <ul>
        <li v-for="todo in todos" v-if="!todo.isComplete">
          {{ todo.id }} - {{ todo.title }}
        </li>
      </ul>

      <ul v-if="todos.length">
        <li v-for="todo in todos">
          {{ todo.title }}
        </li>
      </ul>
      <p v-else>No todo left!</p>
    </div>

    <script src="index3.js"></script>
  </body>
</html>
